
.video-container {
    background-attachment:fixed;
    bottom: 80px;
    z-index: -1;
    height: 110vh;
    position: relative;
    overflow: hidden;
    @media(min-width: 600px) {
      height: 100vh;
    }
  }
  
  video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  body{
    background-image: url("0001-0240.gif");
    background-size: cover;
    background-attachment: fixed;
    
    
    max-height: 100vh;
    padding:0;
    margin:0;
}
  
  .video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
  }
  
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    font-family: Futura, Helvetica, sans-serif;
    font-size: 5vw;
    @media (max-width: 400px) {
      font-size: 22px;
    }
    @media (min-width: 1200px) {
      font-size: 75px;
    }
  }
  
  .callout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
  .support {
    position: fixed;
    bottom: 60px;
    right: 20px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    text-align: right;
    position: relative;
    z-index: 10;
    a {
      color: white;
      text-decoration: none;
      position: relative;
      display: inline-block;
      margin-top: 10px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: rgba(white, .3);
        transition: .3s;
      }
      &:hover:before {
        width: 100%;
      }
    }
  }
.Soc{
  width: 50px;
  height: 50px;
  display: inline;
  opacity: 1;
}
.photo {
  width: 350px;
  height: 270px;
  overflow: hidden;
  border-radius: 20px; 
  box-shadow: 0 0 5px;
  opacity: 1;
}
img.krug {
  transition: transform 0.25s;
  border-radius: 20px; 
  box-shadow: 0 0 5px;
  opacity: 1;
}
.photo:hover img {
  transform: scale(1.1);
  border-radius: 20px; 
  box-shadow: 0 0 5px;
  opacity: 1;
}
.slider {
  border-radius: 30px;
  height: 270px;
  width: 450px;
  position: relative;
  bottom: 350px;
  left: 120px;
  margin: 300px;
  padding: 50px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  transition: 0.5s;
  background-color: black;
  opacity: .9;
  z-index: 6;
}

.slider:hover {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color:black;
  transition: 0.5s;
  z-index: 6;
  opacity: .9;
}

.item {
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  color: white;
  z-index:6;
}

.item_col {
  align-self: center;
  text-align: center;
  z-index: 6;
  opacity: 1;
}


.slider .item img {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
  z-index: 6;
  opacity: 1;
}

.previous, .next {
  align-self: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 6;
  text-decoration: none;
  opacity: 1;
}

.arrow_mobile {
  display: none;
  text-decoration: none;
  z-index: 6;
  opacity: 1;
}

.previous:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 6;
  opacity: 1;
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
  z-index: 6;
  opacity: 1;
}

@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}

@media screen and (max-width: 600px) {
  .item {
      flex-direction: column;
      z-index: 6;
      opacity: 1;
  }

  .slider {
      margin: 0;
      padding: auto;
      z-index: 6;
      opacity: 1;
  }

  .slider .item img {
      width: 100%;
      height: 80%;
      padding: 10px;
      z-index: 6;
      opacity: 1;
  }

  .previous, .next {
      display: none;
      z-index: 6;
      opacity: 1;
  }

  .arrow_mobile {
      display: flex;
      justify-content: space-around;
      z-index: 6;
      opacity: 1;
  }

  .previous_mobile, .next_mobile {
      align-self: center;
      cursor: pointer;
      transition: 0.5s;
      color: white;
      z-index: 6;
      opacity: 1;
  }
}
.uc {
  font-size: 24px;
  font-family: "Montserrat"
}
.pc{
  font-size: 20px;
  font-family: "Montserrat"
}
.Name{
  font-size: 30px;
  font-family: "Montserrat"
}
.Role{
  font-size: 28px;
  font-family: "Montserrat"
}
.a{
  transition: 0.8s;
  width: 130px;
  height: 50px;
  text-align: center;
  vertical-align: center;

}
.a:hover{
  background-color: rgb(255, 60, 0);
}
